<h2>Formulaire</h2>

{% if user is defined %}
<form method="post" name="formulaire" action="{{ url('users.save', {id: user.id}) }}">

    <input type="hidden" name="id" value={{user.id}} />

    <label for="name">Nom : </label>
    <input type="text" name="nom" value={{user.nom}} />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" value={{user.prenom}}  />

    <label for="name">OS: </label>

    <SELECT name="idpc" size="1">
    <OPTION>{{user.pc.getOsPC()}}
      {% for pc in pcs %}
        {% if pc.getOsPC() != user.pc.getOsPC() %}
          <OPTION>{{pc.getOsPC()}}
        {% endif %}
      {% endfor %}
    </SELECT>

    {% else %}
<form method="post" name="formulaire" action="{{ url('users.save') }}">
    <label for="name">Nom : </label>
    <input type="text" name="nom" />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" />

    <label for="name">OS: </label>

    <SELECT name="idpc" size="1">
      {% for pc in pcs %}
        <OPTION>{{pc.getOsPC()}}
      {% endfor %}
    </SELECT>
{% endif %}
    <button type="submit">Envoyer</button>
</form>
